{% extends "index.html" %}
{% load static %}
{% block content %}
<center style="padding:150px">
    <body>
	{% if not count %}
	<div style="width:350px;height:250px;border:1px solid grey; padding: 10px; margin: 30px;">
	    <form method="POST" action="cidr">
		{% csrf_token %}
		<div class="input-container">
		    <h2>Enter a CIDR Range</h2>
		    <input type="text" name="cidr" required><br><br>
		</div>
		<button type="submit"><span>Calculate </span></button>
	    </form><br>
	    <a style="color: black; text-decoration: none;" href="/">Back</a>
	</div>
	{% else %}
	<center>
	
	    <table style="border: 10px solid black; width: 1000px">
		<tr>
		    <th style="border: 10px solid black;">
			<h2>Address</h2><br>
			<h4>{{address}}</h4>
		    </th>
		    <th style="border: 10px solid black;">
			<h2>Netmask</h2><br>
			<h4>{{netmask}}</h4>
		    </th>
		    <th style="border: 10px solid black;">
			<h2>Wildcard</h2><br>
			<h4>{{wildcard}}</h4>
		    </th>
		</tr>
		<tr>
		    <th style="border: 10px solid black;">
			<h2>First IP</h2><br>
			<h4>{{host1}}</h4>
		    </th>
		    <th style="border: 10px solid black;">
			<h2>Last IP</h2><br>
			<h4>{{host2}}</h4>
		    </th>
		    <th style="border: 10px solid black;">
			<h2>IPs in Range</h2><br>
			<h4>{{count}}</h4>
		    </th>
		</tr>
	    </table>
	    <br><br><br>
	    <a style="color: black; text-decoration: none;" href="cidr">Back</a>
	</center>
	{% endif %}
	
    </body>
</center>
{% endblock content %}
