{% extends "index.html" %}
{% load static %}
{% block content %}
<center style="padding:200px">
    <body>
	{% if not count %}
	<div class="box">
	    <form method="POST" action="cidr">
		{% csrf_token %}
		<div class="input-container">
		    <h2>Enter a Cidr range:</h2>
		    <input type="text" name="cidr" required><br><br><br>
		</div>
		<input class="btn" type="submit" name="submit" value="Cidr details"><br><br><br><br>
	    </form>
	    <a style="color: black; text-decoration: none;" href="/">Back</a>
	</div>
	{% else %}
	<h2>Address : {{address}}</h2>
	<h2>Netmask : {{netmask}}</h2>
	<h2>Wildcard : {{wildcard}}</h2>
	<h2>FirstIP : {{host1}}</h2>
	<h2>LastIP : {{host2}}</h2>
	<h2>Count : {{count}}</h2><br>
	<a style="color: black; text-decoration: none;" href="cidr">Back</a>
	
	{% endif %}
	
    </body>
</center>
{% endblock content %}
