<!DOCTYPE HTML>
{% load static %}
<html>
    <head>
	<link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
	<link rel="stylesheet" type="text/css" href={% static "css/converters.css" %}>
	<div class="navbar">
	    <img src={% static "images/logo.jpg" %} style="vertical-align:bottom"></img>
	    <div class="home"><a href="/">Home</a></div>
	    <div class="dropdown">
		<button class="dropbtn">Converter 
		    <i class="fa fa-caret-down"></i>
		</button>
		<div class="dropdown-content">
		    <a href="timezone">Timezone</a>
		    <a href="cidr">Cidr Calculator</a>
		</div>
	    </div>
	    <a href="disclaimer">Disclaimer</a>
	</div>
    </head>
    <body>
	{% if not count %}
	<div class="box">
	    <form method="POST" action="cidr">
	    {% csrf_token %}
		<div class="input-container">
		    <label for="time">Enter a Cidr range:</label><br>
		    <input type="text" name="cidr" required>
		</div>
		<input class="btn" type="submit" name="submit" value="Cidr details"><br><br>
	    </form>
	    <a class="btn" href="/">Back</a>
	</div>
	{% else %}
	<div class="box">
	    <span class="text-center">Address : {{address}}</span><br>
	    <span class="text-center">Netmask : {{netmask}}</span><br>
	    <span class="text-center">Wildcard : {{wildcard}}</span><br>
	    <span class="text-center">FirstIP : {{host1}}</span><br>
	    <span class="text-center">LastIP : {{host2}}</span><br>
	    <span class="text-center">Count : {{count}}</span><br><br>
	    <a class="btn" href="cidr">Back</a>
	</div>
	
	{% endif %}
	
    </body>
</html>
