<!DOCTYPE html>
{% load static %}
<html>
    <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
    <head>
	<title>Disclaimer</title>
	<div class="navbar">
	    <img src={% static "images/logo.jpg" %}></img>
	    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
	    <a href=""><i class="fa fa-fw fa-search"></i> Converter</a> 
	    <a href=disclaimer><i class="fa fa-fw fa-envelope"></i> Disclaimer</a> 
	</div>
	
    </head>
    <body><br>
	Information on this website is for general information purposes only and provided without warranty of any kind. Information may contain technical inaccuracies. Information may be changed or updated without notice. allinoneconvertor.com
	and it's owners are not responsible for any losses arising from such errors, inaccuracies or interruptions.
	allinoneconvertor.com
	cannot be held responsible for the user generated messages linked to our services. You use the information at your own risk. 
    </body>
</html>
