{% extends "index.html" %}
{% load static %}
{% block content %}
<body><br>
    <div style="font-size: 40px; padding: 0px 100px;">
	<h1>Disclaimer</h1>
    </div>
    <div style="font-size: 22px; padding: 0px 100px;">
	<br><br>
	Information on this website is for general information purposes only and provided without warranty of any kind. Information may contain technical inaccuracies. Information may be changed or updated without notice. allinoneconvertor.com and it's owners are not responsible for any losses arising from such errors, inaccuracies or interruptions.allinoneconvertor.com cannot be held responsible for the user generated messages linked to our services. <br><br>You use the information at your own risk. 
    </div>
</body>
{% endblock content %}

