{% extends "index.html" %}
{% load static %}
{% block content %}
<body><br>
    <div style="text-align: center; font-size: 30px;">
	<br><br><br><br><br><br><br>
	Information on this website is for general information purposes only and provided without warranty of any kind.<br> Information may contain technical inaccuracies. Information may be changed or updated without notice. <br><br>allinoneconvertor.com and it's owners are not responsible for any losses arising from such errors, inaccuracies or interruptions.allinoneconvertor.com cannot be held responsible for the user generated messages linked to our services. <br>You use the information at your own risk. 
    </div>
</body>
{% endblock content %}

