<!DOCTYPE html>
{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href={% static "css/main.css" %}>
    <head>
	<title>AllInOneConvertor</title>
	<meta charset="utf-8">
    </head>
    <body>
	<div class="navbar">
	    <img src={% static "images/logo.jpg" %} style="vertical-align:bottom"></img>
	    <div class="home"><a href="/">Home</a></div>
	    <div class="dropdown">
		<button class="dropbtn">Converter</button>
		<div class="dropdown-content">
		    <a href="timezone">Timezone</a>
		    <a href="cidr">Cidr Calculator</a>
		</div>
	    </div>
	    <a href="disclaimer">Disclaimer</a>
	</div>
	<hr color="#D3D3D3">
	<div class="center">
	    <a href="timezone">
		<img src={% static "images/time.jpg" %} style="margin:0px 500px"></img>
		
	    </a>
	    <a href="cidr">
		<img src={% static "images/cidr.jpg" %}  ></img>
	    </a>
	    <h2 style="padding: 25px 480px; word-spacing: 460px;">Time-Converter Cidr-calculator</h2>
	</div>
	
    </body>
</html>
