<!DOCTYPE html>
{% load static %}
<html>
    <head>
	<title>Converters</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
	<script type="text/javascript" src={% static "js/jquery-3.2.1.min.js" %}></script>
	<script type="text/javascript" src={% static "js/plugin-active.js" %}></script>
    </head>
    <body>
	<section id="Banner">
	    <a href="timezone">
		<div class="logo">
		    <h1>Timezone</h1>
		</div>
	    </a>
	    <a href="cidr">
		<div class="blacksection">	    
		    <h1>CIDR calculator</h1><br>
		</div>
	    </a>
	</section>
	<footer id="Contact">
	    <div class="container">
		<p>Disclamer</p>
	    </div>
	</footer>
    </body>
</html>
