<!DOCTYPE html>
{% load static %}
<html>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href={% static "css/index2.css" %}>
    <head>
	<title>AllInOneConvertor</title>
	<meta charset="utf-8">
	<script>
	 var myVar = setInterval(myTimer, 1000);
	 function myTimer() {
	     var d = new Date();
	     var hrs = d.getHours();
	     var min = d.getMinutes();
	     var sec = d.getSeconds();
	     var en = 'am'
	     if (hrs > 12) {
		 hrs = hrs - 12
		 en = 'pm';
	     }
	     if (hrs < 10 && min < 10){
		 document.getElementById("demo").innerHTML = "0" + hrs + ":" + "0" + min;
	     }
	     else {
		 if (min < 10){
		     document.getElementById("demo").innerHTML = hrs + ":" + "0" + min;
		 }
		 else if (hrs < 10){
		     document.getElementById("demo").innerHTML = "0" + hrs + ":" + min;
		 }
		 else {
		     document.getElementById("demo").innerHTML = hrs + ":" + min;
		 }
	     }
	     if ( sec < 10 ){
		 document.getElementById("sec").innerHTML = ":" + 0 + sec + " " + en;
	     }
	     else{
		 document.getElementById("sec").innerHTML = ":" + sec + " " + en;
	     }
	 }
	 function timezone_converter(color) {
	     document.getElementById('timezone_converter').style.color = color;
	 }
	 function cidr_calculator(color) {
	     document.getElementById('cidr_calculator').style.color = color;
	 }
	 function epoch_converter(color) {
	     document.getElementById('epoch_converter').style.color = color;
	 }
	</script>
    </head>
    <body>
	<table>
	    <thead>
		<tr>
		    <th>
			<a href="/" text-decoration: none;">
			    <img src={% static "images/logo.jpg" %}></img>
			</a>
		    </th>
		    <td>
			<a class="content" style="text-decoration: none;" href="/">Home</a>
		    </td>
		    <td>
			<div class="dropdown">
			    <button class="dropbtn">Converter</button>
			    <div class="dropdown-content">
				<a href="timezone">Time Converter</a>
				<a href="cidr">CIDR Calculator</a>
				<a href="epoch">Epoch timestamp</a>
			    </div>
			</div>
		    </td>
		    <td>
			<a class="content" href="disclaimer" style="text-decoration: none;">Disclaimer</a>
		    </td>
		</tr>
	    </thead>
	</table>
	<hr color="#D3D3D3">
	{% block content %}
	<center>
	    <div style="width:350px;height:170px;border:1px solid grey; padding: 10px; margin: 30px;">
		<div style="text-align: left;">
		    <p style="padding: 0 20px; font-size:50px; display: inline;" id="demo"/><p style="font-size:25px; color: grey; display: inline;" align="right" id="sec"/>
		    <p style="padding: 0 20px; color: grey"><br>{{date}}, {{date_date}} ({{timezone}})</p>
		    <p style="padding: 0 20px; color: grey">{{g}}, {{result_state}}, {{result_district}}</p>
		</div>
	    </div>
	</center>
	<br><br><br><br>
	<center>
	    <table style="width:1200px">
		<tr>
		    <th>
			<a onmouseover="timezone_converter('blue')" onmouseout="timezone_converter('black')" href="timezone">
			    <img src={% static "images/time.jpg" %}></img>
			</a>
		    </th>
		    <th rowspan=2>
		    </th>
		    <th>
			<a onmouseover="cidr_calculator('blue')" onmouseout="cidr_calculator('black')" href="cidr">
			    <img src={% static "images/cidr.jpg" %}></img>
			</a>
		    </th>
		    <th rowspan=2>
		    </th>
		    <th>
			<a onmouseover="epoch_converter('blue')" onmouseout="epoch_converter('black')" href="epoch">
			    <img src={% static "images/epoch.jpg" %}></img>
			</a>
		    </th>

		</tr>
		<tr>
		    <th>
			<h2 id="timezone_converter">Time Converter</h2>
		    </th>
		    <th>
			<h2 id="cidr_calculator">CIDR Calculator</h2>
		    </th>
		    <th>
			<h2 id="epoch_converter">Epoch Converter</h2>
		    </th>
		</tr>
	    </table>
	</center>
	{% endblock content %}
    </body>
</html>
