{% extends "index.html" %}
{% load static %}
{% block content %}
<center style="padding:150px">
    <body>
	{% if time %}
	<h2>Converted time</h2>
	<h2>{{time}}</h2><br><br>
	<a href="timezone" style="color: black; text-decoration: none;">Back</a>
	{% else %}<br><br>
	<form method="POST" action="timezone">
	    {% csrf_token %}
	    <h2>Enter a time:</h2>
	    <input type="time" id="time" name="time" required><br>
	    <h2>Choose the current timezone:</h2>
	    <select class="select-selected" id="tz1" name="tz1"><br>
		{% for i in timezone %}
		<option value={{i}}>{{i}}</option>
		{% endfor %}
	    </select> <br>
	    <h2>Choose timezone to convert to:</h2> 
	    <select class="select-selected" id="tz2" name="tz2"><br>
		{% for i in timezone %}
		<option value={{i}}>{{i}}</option>
		{% endfor %}	    
	    </select> <br><br>
	    <input class="btn" type="submit" name="submit" value="Convert time">
	</form><br><br>
	<a style="color: black; text-decoration: none;" href="/">Back</a>
	{% endif %}
    </body>
</center>
{% endblock content %}
